## This part is for clearing the data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import keras
data=pd.read_csv('/content/kindle_reviews.csv')
data.set_index('reviewerID',inplace=True)

In [35]:
#find the null value of the dataset
data.isna().sum()/len(data)

Unnamed: 0        0.000000
asin              0.000000
helpful           0.000000
overall           0.000000
reviewText        0.000022
reviewTime        0.000000
reviewerName      0.003883
summary           0.000001
unixReviewTime    0.000000
dtype: float64

In [36]:
#define function for cleaning data
def cleanDF(dataframe):   
    #remove rows with no review text and unixReviewTime
    modified_df = data.dropna(axis = 0, subset = ['reviewText'])

    #fill empty summaries with review text
    modified_df['summary'].fillna(modified_df['reviewText'], inplace = True)

    #fill empty names with 'Amazon Customer'
    modified_df['reviewerName'].fillna('Customer', inplace = True)

    modified_df = modified_df.reset_index().drop('Unnamed: 0', axis=1)
    
    return modified_df

In [37]:
clean_df = cleanDF(data)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [38]:
clean_df.head()

,reviewerID,asin,helpful,overall,reviewText,reviewTime,reviewerName,summary,unixReviewTime
0,A1F6404F1VG29J,B000F83SZQ,"[0, 0]",5,I enjoy vintage books and movies so I enjoyed ...,"05 5, 2014",Avidreader,Nice vintage story,1399248000
1,AN0N05A9LIJEQ,B000F83SZQ,"[2, 2]",4,This book is a reissue of an old one; the auth...,"01 6, 2014",critters,Different...,1388966400
2,A795DMNCJILA6,B000F83SZQ,"[2, 2]",4,This was a fairly interesting read. It had ol...,"04 4, 2014",dot,Oldie,1396569600
3,A1FV0SX13TWVXQ,B000F83SZQ,"[1, 1]",5,I'd never read any of the Amy Brewster mysteri...,"02 19, 2014","Elaine H. Turley ""Montana Songbird""",I really liked it.,1392768000
4,A3SPTOKDG7WBLN,B000F83SZQ,"[0, 1]",4,"If you like period pieces - clothing, lingo, y...","03 19, 2014",Father Dowling Fan,Period Mystery,1395187200

In [39]:
#check clean or not here
clean_df.isna().sum()

reviewerID        0
asin              0
helpful           0
overall           0
reviewText        0
reviewTime        0
reviewerName      0
summary           0
unixReviewTime    0
dtype: int64

In [41]:
clear_data=clean_df.to_csv('clear_reviews.csv')